@import './../../../styles/mixins.scss';

main{
padding: 0 120px;
font-family: 'FiraGo';
padding-bottom: 120px;

h1{
    font-size: 34px; 
}



.filtering-criterias{
    width: 688px;
    margin-top: 45px;
    // margin-bottom: 45px;
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 0px;
   border: 0.5px solid #DEE2E6;
   border-radius: 10px;
   gap:45px;

   li{
height: 44px;
font-size: 16px;
text-align: center;
width: 199px;
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
letter-spacing: 0.5px;
i{
    margin-top: 4px;
}
   }
}
.tasks-main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 70px;
  .to-be-started-tasks-cnt, .in-progres-tasks-cnt, .ready-for-testing-tasks-cnt, .finished-tasks-container{
    @include flex-container;
    width:381px;
    gap:30px ;
ul{
    list-style: none;
    @include flex-container;
    gap:30px ;
}


  }
}}