<h1>დავალებების გვერდი</h1>
<ul class="filtering-criterias">
<li>დეპარტამენტი <i class="fa-solid fa-angle-down"></i></li>
<li>პრიორიტეტი <i class="fa-solid fa-angle-down"></i></li>
<li>თანამშრომელი <i class="fa-solid fa-angle-down"></i></li>
</ul>
<div class="chosen-filters">
    <ul>
<li>   <input type="checkbox" id="checkbox1">
    <label for="checkbox1">Option 1</label></li>
    </ul>
<div class="btn-div"><button>არჩევა</button></div>
</div>
<!-- <div class="chosen-filters">
    <ul>
        <li>დეპარტამენტი <i class="fa-solid fa-angle-down"></i></li>
<li>პრიორიტეტი <i class="fa-solid fa-angle-down"></i></li>
<li>თანამშრომელი <i class="fa-solid fa-angle-down"></i></li>
<li>დეპარტამენტი <i class="fa-solid fa-angle-down"></i></li>
<li>პრიორიტეტი <i class="fa-solid fa-angle-down"></i></li>
<li>თანამშრომელი <i class="fa-solid fa-angle-down"></i></li>
    </ul>
    <button>არჩევა</button>
</div> -->
<div class="tasks-main-container"></div>
