@import './../../../../styles/mixins.scss';

:host{
    .priority{
        width:100%;
        @include flex-container;
        .label{
            @include label-styling
        };
        .selected{
            width: 100%;
            height: 46px;
                .default-priority{
            width: 100%;
            height: 46px;
            padding: 14px !important;
            background-color: white;
            @include default-chosen-item;
            @include flex-row;
    
    div{
    display: flex;
    gap:6px;
    height: 100% !important;
    
    } }
         
            .dropdown-options{
                list-style: none;
                background-color: white;
                position: absolute;
                border-radius: 5px;
                width:550px;
                .add-empl{
                    color: #8338EC;
                    font-weight: 400;
                    font-size: 16px;
                    span{
                        padding:1.5px 4px;
                        border: 1.5px solid #8338EC;
                        border-radius: 50%;
                        font-size: 16px;

                    }
                }
                li{
                    @include flex-row;
                    gap: 6px;
                   align-items: center;
                   @include li-styling;
                   
    img{
        border-radius: 50%;
        height: 28px;
        width:28px
    }
    }
 }


            }
     
    }
}  



  