@import '../../../../styles/mixins.scss';

.card-div{
background-color: white;
border: 1px solid #F7BC30;
padding: 20px;
border-radius: 15px;
.heading{
   @include flex-row;
   justify-content: space-between;
   border: 1px solid darkred;
   text-align: center;
.status{
    @include flex-row;
    justify-content: space-between;
    border: 1px solid darkred;
    align-items: center;
    text-align: center;
    gap:10px;
    .priority{
        border: 0.5px solid darkred;
        display: flex;
        gap:4px;
        border-radius: 4px;
        padding: 4px;
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        align-items: center;
    }
    .task-dep{
text-align: center;
border: 1px solid darkred;
padding: 5px 9px;
border-radius: 15px;
font-size: 12px;
font-weight: 400;
height: 100%;
    }
}
.date{
    text-align: center;
    display: flex;
    align-items: center;
    border: 1px solid darkred;
    font-size: 12px;
    font-weight: 400;
    color: #212529
}
}
}