@import './../../../styles/mixins.scss';
h1{
    font-size: 34px;
    font-weight: 600;
    margin-left: 120px;
    margin-right: 120px;
    color: #212529
}
.task-main-container{
    margin-left: 120px;
    width:1684px;
    background-color: #DDD2FF;
    margin-top: 30px;
    min-height: 750px;
    padding-top: 65px;
    padding-left: 55px;

    form{
        @include flex-row;
        gap:55px;
        .sub-container-one{
            width:550px;
            @include flex-container;
            gap:55px;
            .description-container{
                @include flex-container;
                label{
                    @include label-styling
                };
                textarea{
                    @include input-styling;
                    height: 133px;
                    outline: none
                };
                span{
                    @include span-styling
                }
            }
            .priority-container{
                width: 100%;
                @include flex-row;
                gap:32px;
                .status{
                    width:259px;
                    @include flex-container;
                    .label{
                      @include label-styling
                        }     }
                  }
        }
        .sub-container-two{
            width:550px;
            @include flex-container;
            gap:80px !important;
            .btn-div{
                display: flex;
                justify-content: flex-end;
            }
            button{
                background-color: #8338EC;
                width:208px;
                padding: 10px 20px;
                border-radius: 5px;
                font-size: 18px;
                text-align: center;
                letter-spacing: 0.5px;
                float: right;
                border: none;
                color: white
            }
        .department-container, .employee-container{
            width:100%;
            @include flex-container;
            }
    }
    }
}



