<h1>შექმენი ახალი დავალება</h1>
<div class="task-main-container">
    <form [formGroup]="form" (submit)="handleSubmit()">
        <div class="sub-container-one">
<div class="title-container">
    <label>სათაური*</label>
<input type="text" formControlName="title" (input)="onValueChange($event)" [ngClass]="{
    'invalid-border': titleValidation?.dirty && 
                      (titleValidation?.value.length < 2 || titleValidation?.value.length > 255)
  }">
<span  [ngClass]="{
    'valid': titleValidation?.dirty && titleValidation?.value.length >= 2,
    'invalid': titleValidation?.dirty && titleValidation?.value.length < 2
  }">მინიმუმ 2 სიმბოლო</span>
<span [ngClass]="{
    'valid': titleValidation?.dirty && titleValidation?.value.length <= 255 && titleValidation?.value.length>=2,
    'invalid': titleValidation?.dirty && titleValidation?.value.length >255 
  }">მაქსიმუმ 255 სიმბოლო</span>
</div>
<div class="description-container">
    <label>აღწერა</label>
<textarea formControlName="description" [ngClass]="{
    'invalid-border': description?.dirty && 
                      (description?.value.length < 2 || description?.value.length > 255)
  }"></textarea>
<span [ngClass]="{
    'valid': description?.dirty && description?.value.length >= 2,
    'invalid': description?.dirty && description?.value.length < 2
  }">მინიმუმ 2 სიმბოლო</span>
<span  [ngClass]="{
    'valid': description?.dirty && description?.value.length <= 255 && description?.value.length>=2,
    'invalid': description?.dirty && description?.value.length >255
  }">მაქსიმუმ 255 სიმბოლო</span>
</div>
<div class="priority-container">
    <div class="priority">
        <p class="label">პრიორიტეტი*</p>
        <div class="selected" [ngClass]="{'invalid-border':formSubmited() && !selectedOptionValid()}"> 
            <div class="default-priority" (click)="toggleDropdown('priorities')" [ngClass]="{'invalid-border':formSubmited() && !selectedOptionValid()}">
               <div> <img src="{{selectedOption()?.icon}}">
                <p>{{selectedOption()?.name}}</p></div>
                 <i class="fa-solid"  [ngClass]="dropdownOpen() ? 'fa-angle-up' : 'fa-angle-down'"></i></div>
        @if(dropdownOpen()){
            
            <ul class="dropdown-options" >
                
                @for(priority of priorities(); track priority.id){
                    <li (click)="selectOption(priority, 'priorities')" >
                        <img src="{{priority?.icon}}">
                        <span>{{ priority.name }}</span>
                      </li>
                }
                
              </ul>}
        </div>
</div>
<div class="status">
    <p class="label">სტატუსი*</p>
        <div class="selected"> 
            <div class="default-priority" (click)="toggleDropdown('statuses')" [ngClass]="{'invalid-border':formSubmited() && !selectedStatusValid()}">
                <p>{{selectedStatusOption()?.name}}</p>
                 <i class="fa-solid"  [ngClass]="dropdownOpenStatus() ? 'fa-angle-up' : 'fa-angle-down'"></i></div>
        @if(dropdownOpenStatus()){
            
            <ul class="dropdown-options" >
                
                @for(status of statuses(); track status.id){
                    <li (click)="selectOption(status, 'statuses')" >
                       {{status.name}}
                      </li>
                }
                
              </ul>}
        </div>
        
      
</div>
</div>
        </div>

    <!-- meore div -->
<div class="sub-container-two">
        <div class="department-container">
            <p class="label">დეპარტამენტი*</p>
            <div class="selected"> 
                <div class="default-priority" (click)="toggleDropdown('departments')" [ngClass]="{'invalid-border':formSubmited() && !selectedDepartmentValid()}">
                    <p>{{selectedDepartmentOption()?.name}}</p>
                     <i class="fa-solid"  [ngClass]="dropdownOpenDepartment() ? 'fa-angle-up' : 'fa-angle-down'"></i></div>
            @if(dropdownOpenDepartment()){
                <ul class="dropdown-options" >
                    @for(department of departments(); track department.id){
                        <li (click)="selectOption(department, 'departments')" >
                           {{department.name}}
                          </li>
                    }
                  </ul>}
            </div>
        </div>
      <div class="employee-container">
        
        <p class="label">პასუხისმგებელი თანამშრომელი*</p>
        <div class="selected"> 
            <div class="default-priority" (click)="toggleDropdown('employees')" [ngClass]="{'invalid-border':formSubmited() && !selectedEmployeeValid()}">
                <div style="display: flex;align-items: center; gap:10px">
                    @if(selectedEmployee()) {<img src="{{selectedEmployee()?.avatar}}" style="width: 30px; height: 30px; border-radius: 50%;">}
                     <p>{{selectedEmployee()?.name}} {{selectedEmployee()?.surname}}</p></div>
                      <i class="fa-solid"  [ngClass]="dropdownOpenEmployees() && selectedDepartmentOption() ? 'fa-angle-up' : 'fa-angle-down'"></i>
                
                </div>
        @if(dropdownOpenEmployees() && selectedDepartmentOption()){
            
            <ul class="dropdown-options" >
                <li class="add-employee"><span>+</span><p>დაამატე თანამშრომელი</p></li>
                @for(employee of employees(); track employee.id){
                    <li (click)="selectOption(employee, 'employees')" >
                        <img src="{{employee?.avatar}}">
                        <span>{{ employee.name }} {{employee.surname}}</span>
                      </li>
                }
                
              </ul>}
        </div>
            </div>
            <div class="deadline">
                <label>დედლაინი*</label>
                <input type="date">
                <!-- <app-calendar/> -->
            </div>
           <div class="btn-div">
            <button type="submit">დავალების შექმნა</button>
           </div>
        </div>
    </form>
</div>
