<h1>შექმენი ახალი დავალება</h1>
<div class="task-main-container">
    <form  (submit)="handleSubmit()">
        <div class="sub-container-one">
<div class="title-container">
    <app-input name="title" [formSubmited]="formSubmited" [isMinimumLengthValid]="isTitleLengthValid" [isMaximumLengthValid]="isTitleMaximumLengthValid" [labelValue]="'სათაური*'" [(model)]="title" (modelChange)="handleTitleValueChange($event)" [minimumChar]="'მინიმუმ 3 სიმბოლო'" [maximumChar]="'მაქსიმუმ 255 სიმბოლო'"></app-input>
 </div>

<div class="description-container">
    <label>აღწერა</label>
    <textarea [ngClass]="{'invalid-border':formSubmited()&& description.length>255 || formSubmited()&& (description.length>0 && doesNotHaveEnoughWords())}" (ngModelChange)="handleTextAreaValueChange($event)" name="description" [(ngModel)]="description" ></textarea>
<span [ngClass]="{
    'valid': descriptionFocused() && description.length>0 && !doesNotHaveEnoughWords(),
    'invalid': (formSubmited() && description.length>0 && doesNotHaveEnoughWords() ) ||( !formSubmited() && descriptionFocused()&& description.length>0 && doesNotHaveEnoughWords() )
  }">მინიმუმ 4 სიტყვა</span>
<span  [ngClass]="{
    'valid': descriptionFocused()&& description.length>0&&  description.length <= 255 ,
    'invalid': (formSubmited() && description.length >255) || !formSubmited() && descriptionFocused() && description.length >255
  }">მაქსიმუმ 255 სიმბოლო</span>
</div> 
<div class="priority-container">
    <app-dropdown [customclass]="'custom-class'" style="width:259px" [label]="'პრიორიტეტი*'" [formSubmited]="formSubmited" [dropDownTarget]="'priorities'" [data]="priorities" [selectedOption]="selectedOption" (selectEmitter)="handleChange($event)" [dropdownOpen]="dropdownOpen"/>
 <div class="status">
    <app-dropdown [customclass]="'custom-class'" [label]="'სტატუსი*'" [formSubmited]="formSubmited" [dropDownTarget]="'statuses'" [data]="statuses" [selectedOption]="selectedStatusOption" (selectEmitter)="handleChange($event)" [dropdownOpen]="dropdownOpenStatus"/> 
</div> 
</div>
        </div> 

<div class="sub-container-two">
        <div class="department-container">
            <app-dropdown (toggleDropdown)="toggleDropdownFn($event)" [customclass]="'dropdown-options'" [label]="'დეპარტამენტი*'" [formSubmited]="formSubmited" [dropDownTarget]="'departments'" [data]="departments" [selectedOption]="selectedDepartmentOption" (selectEmitter)="handleChange($event)" [dropdownOpen]="dropdownOpenDepartment"/>
       
        </div>
      <div class="employee-container">
     <!-- @if(selectedDepartmentOption()){ -->
        <app-dropdown [customclass]="'dropdown-options'" [label]="'პასუხისმგებელი თანამშრომელი*'" [formSubmited]="formSubmited" [dropDownTarget]="'employees'" [data]="employees" [selectedOption]="selectedEmployee" (selectEmitter)="handleChange($event)" [dropdownOpen]="dropdownOpenEmployees"/>
     <!-- }   -->


            </div>
            <div class="deadline">

                <label [ngClass]="{'invalid':formSubmited() &&compareDates(),
                    'valid':formSubmited() && !compareDates()
                }" for="customDate">დედლაინი</label>
                <input type="date" id="customDate" [(ngModel)]="selectedDate" name="date">

            </div>
           <div class="btn-div">
            <button type="submit">დავალების შექმნა</button>
           </div>
        </div>
    </form>
</div>
