<h1>შექმენი ახალი დავალება</h1>
<div class="task-main-container">
    <form  (submit)="handleSubmit()">
        <div class="sub-container-one">
<div class="title-container">
    <app-input name="title" [formSubmited]="formSubmited" [labelValue]="'სათაური*'" [(model)]="title" (modelChange)="handleTitleValueChange($event)"></app-input>
 </div>

<div class="description-container">
    <label>აღწერა</label>
    <textarea [ngClass]="{'invalid-border':formSubmited()&& description().length>255 || formSubmited()&& description().length>0 && doesNotHaveEnoughWords()}" (ngModelChange)="handleTextAreaValueChange($event)" name="description" [(ngModel)]="description" ></textarea>
<span [ngClass]="{
    'valid': descriptionFocused() && !doesNotHaveEnoughWords(),
    'invalid': (formSubmited() && description().length>0 && doesNotHaveEnoughWords()) || !formSubmited() && descriptionFocused() && doesNotHaveEnoughWords()
  }">მინიმუმ 4 სიტყვა</span>
<span  [ngClass]="{
    'valid': descriptionFocused()&& description().length <= 255 ,
    'invalid': (formSubmited() && description().length >255) || !formSubmited() && descriptionFocused() && description().length >255
  }">მაქსიმუმ 255 სიმბოლო</span>
</div> 
<div class="priority-container">
    <app-dropdown [label]="'პრიორიტეტი*'" [formSubmited]="formSubmited" [dropDownTarget]="'priorities'" [data]="priorities" [selectedOption]="selectedOption" (selectEmitter)="handleChange($event)" [dropdownOpen]="dropdownOpen"/>
    <!-- <div class="priority">
        <p class="label">პრიორიტეტი*</p>
        <div class="selected"> 
              <div class="default-priority" (click)="toggleDropdown('priorities')" [ngClass]="{'invalid-border':formSubmited() && !selectedOption()}">
             <div> 
                <img src="{{selectedOption()?.icon}}">
                <p>{{selectedOption()?.name}}</p></div>
                 <i class="fa-solid"  [ngClass]="dropdownOpen() ? 'fa-angle-up' : 'fa-angle-down'"></i></div>
        @if(dropdownOpen()){
            
            <ul class="dropdown-options" >
                
                @for(priority of priorities(); track priority.id){
                    <li (click)="selectOption(priority, 'priorities')" >
                        <img src="{{priority?.icon}}">
                        <span>{{ priority.name }}</span>
                      </li>
                }
                
              </ul>}
        </div>
</div>  -->
 <div class="status">
    <app-dropdown [label]="'სტატუსი*'" [formSubmited]="formSubmited" [dropDownTarget]="'statuses'" [data]="statuses" [selectedOption]="selectedStatusOption" (selectEmitter)="handleChange($event)" [dropdownOpen]="dropdownOpenStatus"/>
    <!-- <p class="label">სტატუსი*</p>
        <div class="selected"> 
            <div class="default-priority" (click)="toggleDropdown('statuses')" [ngClass]="{'invalid-border':formSubmited() && !selectedStatusOption()}">
                <p>{{selectedStatusOption()?.name}}</p>
                 <i class="fa-solid"  [ngClass]="dropdownOpenStatus() ? 'fa-angle-up' : 'fa-angle-down'"></i></div>
        @if(dropdownOpenStatus()){
            
            <ul class="dropdown-options" >
                
                @for(status of statuses(); track status.id){
                    <li (click)="selectOption(status, 'statuses')" >
                       {{status.name}}
                      </li>
                }
                
              </ul>}
        </div> -->
        
      
</div> 
</div>
        </div> 

<div class="sub-container-two">
        <div class="department-container">
            <app-dropdown [label]="'დეპარტამენტი*'" [formSubmited]="formSubmited" [dropDownTarget]="'departments'" [data]="departments" [selectedOption]="selectedDepartmentOption" (selectEmitter)="handleChange($event)" [dropdownOpen]="dropdownOpenDepartment"/>
            <!-- <p class="label">დეპარტამენტი*</p>
            <div class="selected"> 
                <div class="default-priority" (click)="toggleDropdown('departments')" [ngClass]="{'invalid-border':formSubmited() && !selectedDepartmentOption()}">
                    <p>{{selectedDepartmentOption()?.name}}</p>
                     <i class="fa-solid"  [ngClass]="dropdownOpenDepartment() ? 'fa-angle-up' : 'fa-angle-down'"></i></div>
            @if(dropdownOpenDepartment()){
                <ul class="dropdown-options" >
                    @for(department of departments(); track department.id){
                        <li (click)="selectOption(department, 'departments')" >
                           {{department.name}}
                          </li>
                    }
                  </ul>}
            </div> -->
        </div>
      <div class="employee-container">
        <app-dropdown [label]="'პასუხისმგებელი თანამშრომელი*'" [formSubmited]="formSubmited" [dropDownTarget]="'employees'" [data]="employees" [selectedOption]="selectedEmployee" (selectEmitter)="handleChange($event)" [dropdownOpen]="dropdownOpenEmployees"/>

<!--         
        <p class="label">პასუხისმგებელი თანამშრომელი*</p>
        <div class="selected"> 
            <div class="default-priority" (click)="toggleDropdown('employees')" [ngClass]="{'invalid-border':formSubmited() && !selectedEmployee()}">
                <div style="display: flex;align-items: center; gap:10px">
                    @if(selectedEmployee()) {<img src="{{selectedEmployee()?.avatar}}" style="width: 30px; height: 30px; border-radius: 50%;">}
                     <p>{{selectedEmployee()?.name}} {{selectedEmployee()?.surname}}</p></div>
                      <i class="fa-solid"  [ngClass]="dropdownOpenEmployees() && selectedDepartmentOption() ? 'fa-angle-up' : 'fa-angle-down'"></i>
                
                </div>
        @if(dropdownOpenEmployees() && selectedDepartmentOption()){
            
            <ul class="dropdown-options" >
                <li class="add-employee"><span>+</span><p>დაამატე თანამშრომელი</p></li>
                @for(employee of employees(); track employee.id){
                    <li (click)="selectOption(employee, 'employees')" >
                        <img src="{{employee?.avatar}}">
                        <span>{{ employee.name }} {{employee.surname}}</span>
                      </li>
                }
                
              </ul>
            }
        </div> -->
            </div>
            <div class="deadline">
                <label>დედლაინი*</label>
                <input type="date">
            </div>
           <div class="btn-div">
            <button type="submit">დავალების შექმნა</button>
           </div>
        </div>
    </form>
</div>
