<div class="main-modal-container" (click)="cancel($event)">
   
        <div class="modal-content"  (click)="$event.stopPropagation()">
          <i class="fa-solid fa-x" (click)="cancel($event)"></i>
            
            <form>
              <h1>თანამშრომლის დამატება</h1>
             <div class="personal-info">
              <app-input [formSubmited]="formSubmited" [labelValue]="'სახელი*'" [minimumChar]="'<i class=\'fa-solid fa-check\'></i> მინიმუმ 2 სიმბოლო'" [maximumChar]="' <i class=\'fa-solid fa-check\'></i> მაქსიმუმ 255 სიმბოლო'" style="width: 50%;"
                [(model)]="name"  [isMinimumLengthValid]="isNameMinimumLengthValid" [isMaximumLengthValid]="isNameMaximumLengthValid">
              </app-input>
              <app-input [formSubmited]="formSubmited" [labelValue]="'გვარი*'" [minimumChar]="' <i class=\'fa-solid fa-check\'></i> მინიმუმ 2 სიმბოლო'" [maximumChar]="' <i class=\'fa-solid fa-check\'></i>მაქსიმუმ 255 სიმბოლო'" style="width: 50%;"
                [isMinimumLengthValid]="isSurnameMinimumLengthValid" [isMaximumLengthValid]="isSurnameMaximumLengthValid" [(model)]="surname" ></app-input>
             </div>
             <div class="img-container">
              <p style="font-weight: bold;">ავატარი*</p>
              <div class="upload-container" [ngClass]="{'invalid-dashed-boarder':formSubmited() && !imageSrc()}" (click)="triggerFileInput()">
                <input id="fileInput" type="file" accept="image/*" (change)="onFileChange($event)" />
           @if(imageSrc()){<div  class="image-preview">
            <img [src]="imageSrc()"  alt="Image preview"  />
            <i class="fa-solid fa-trash" (click)="removeImg($event)"></i>
          </div>} 
          
          @if(!imageSrc()){
            <div  class="upload-text">
              <i class="fa-solid fa-image"></i>
              <p [ngClass]="{'invalid':formSubmited() && !imageSrc()}"> ატვირთე ფოტო</p>
            </div>
          }
                
              </div>
             </div>
             <div class="department-div">
              <app-dropdown style="font-weight: bold; width: 50%;" [label]="'დეპარტამენტი*'" [formSubmited]="formSubmited" [customclass]="'custom-class'"
              [dropDownTarget]="'departments'" [selectedOption]="selectedDepartment" [dropdownOpen]="dropdownOpen" [data]="departments" (selectEmitter)="handleChange($event)"></app-dropdown>
             </div>
             <div class="btn-container">
              <button type="button" (click)="cancel($event)" class="cancel">გაუქმება</button>
              <button type="button" (click)="handleSubmit()" class="add-employee custom-text" >დაამატე თანამშრომელი</button>
             </div>
           
            </form>
          </div>
    
</div>
