.custom-datepicker {
    width: 100%;
    
    .mat-form-field-wrapper {
      padding: 8px;
      border-radius: 12px; // Rounded corners like Figma
      border: 1px solid #7B1FA2; // Purple border color
    }
  
    .mat-calendar {
      background-color: #fff; // White background
      border-radius: 12px; // Rounded calendar
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }
  
    .mat-calendar-body-selected {
      background-color: #7B1FA2 !important; // Highlighted selected date
      color: white !important;
      border-radius: 50%;
    }
  
    .mat-calendar-body-cell {
      font-size: 16px;
      font-weight: bold;
    }
  
    .mat-calendar-table-header th {
      color: black; // Header (L, M, J, V...) in black
    }
  
    .mat-button {
      color: #7B1FA2; // Purple OK/Cancel buttons
    }
  }
  