.comment-container{
    height: 135px;
    width:100%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap:5px;
    padding: 18px 20px 15px;
    background-color: white;
    margin-bottom: 45px ;
    .comment-text{
height: 100%;
border: none;
outline: none;
    }
    .btn-div{
        width: 100%;
        .submit-comment{
            width:155px;
            padding: 8px 20px;
            background-color: #8338EC;
            border: none;
            color: white;
            float: right
        ;
        border-radius: 20px
        }
    }

  
}