@import './styles/mixins.scss';

@font-face {
  font-family: 'FiraGO';
  src: url('/src/assets/fonts/FiraGO-TwoItalic.woff2') format('woff2'),
       url('/src/assets/fonts/FiraGO-TwoItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// @font-face {
//   font-family: 'FiraGO';
//   src: url('/src/assets/fonts/FiraGO-UltraLightItalic.woff2') format('woff2'),
//        url('/src/assets/fonts/FiraGO-UltraLightItalic.woff') format('woff');
//   font-weight: bold;
//   font-style: normal;
// }
body {
  font-family: 'FiraGO'!important
}
*{
 margin: 0;
 padding: 0;
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; 
  // font-family: Roboto, "Helvetica Neue", sans-serif; 
 
}
.invalid-border{
  border: 1px solid #FA4D4D !important;
  }
  .custom-class{
    width:100% !important;
    list-style: none;
    background-color: white;
    border-radius: 5px;
    li{
        @include flex-row;
        gap: 6px;
       align-items: center;
       @include li-styling

    }
  }

  .valid{
    color: #08A508 !important;
    }
    
    .invalid{
        color: #FA4D4D!important
    }
  
    
.bgc-pink {
  background-color: #FF66A8 !important;
}

.bgc-blue {
  background-color: #89B6FF !important;
}

.bgc-yellow {
  background-color:#F7BC30 !important;
}

.bgc-orange {
  background-color:#FD9A6A !important;
}
.red-font{
color:  #FA4D4D;
}
.green-font{
  color: #08A508;
}
.yellow-font{
  color: #FFBE0B;
}
.yellow-border{
  border: 1px solid #F7BC30;
}
.orange-border{
  border: 1px solid #FB5607;
}
.pink-border{
  border:1px solid #FF006E
}

.blue-border{
  border:1px solid #3A86FF
}

.red-border{
  border:0.5px solid #FA4D4D;
}

.grene-border{
  border:0.5px solid #08A508;
}

.orange-border-lighter{
  border: 0.5px solid #FB5607;
}
