*{
 margin: 0;
 padding: 0;
  box-sizing: border-box;
}

  body{
    padding-left: 120px;
    padding-right: 120px;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
 
}